{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Agendamento</title>

    <link
        rel="stylesheet"
        href="{% static 'css/agendamento.css' %}"
    >
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
>
</head>

<body>

    <div class="container">

        <div class="left">

            <div class="brand">
                Eduarda Costa <span>Nail Design</span>
            </div>

            <div class="hero">

                <h2>
                    Selecione um serviço e Agende seu horário
                    com elegância.
                </h2>

                <p>
                    Escolha o melhor horário
                    para seu atendimento e
                    tenha uma experiência
                    premium desde o primeiro clique.
                </p>

            </div>

        </div>

        <div class="right">

            <h2 class="title">
                Agendamento
            </h2>

            <p class="subtitle">

                Escolha a data e visualize
                os horários disponíveis
                automaticamente.

            </p>

            {% if erro %}

                <div class="erro">
                    {{ erro }}
                </div>

            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="field">

    <label>
        Nome completo
    </label>

    {{ form.nome }}
    {{ form.nome.errors }}


</div>

<div class="field">

    <label>
        WhatsApp
    </label>

    {{ form.telefone }}
    {{ form.telefone.errors }}

</div>

<div class="field">

    <label>
        Email
    </label>

    {{ form.email }}
    {{ form.email.errors }}

</div>

                <div class="field">

                    <label>
                        Serviço
                    </label>

                    {{ form.servico }}
                    {{ form.servico.errors }}

                </div>

                <div class="field">

                    <label>
                        Data
                    </label>

                    {{ form.data }}
                    {{ form.data.errors }}

                </div>

                <div class="field">

                    <label>
                        Horário
                    </label>

                    <select
                        name="horario"
                        id="id_horario"
                        required
                    >

                        <option>

                            Selecione um horário

                        </option>

                    </select>
                     {{ form.horario.errors }}

                </div>

                <button type="submit">

                    Confirmar Agendamento

                </button>

            </form>

            <div class="footer">

                Atendimento premium •
                Eduarda Costa Nail Design

            </div>

        </div>

    </div>

    <script>

    const selectHorario =
        document.getElementById('id_horario')

    async function carregarHorarios(data) {

        const response = await fetch(
            `horarios/?data=${data}`
        )

        const horarios =
            await response.json()

        selectHorario.innerHTML = ''

        if (horarios.length === 0) {

            selectHorario.innerHTML =
                '<option>Sem horários disponíveis</option>'

            return
        }

        horarios.forEach(horario => {

            const option =
                document.createElement('option')

            option.value = horario

            option.textContent = horario

            selectHorario.appendChild(option)

        })
    }

    async function iniciarCalendario() {

        const response = await fetch(
            '/datas-bloqueadas/'
        )

        const datasBloqueadas =
            await response.json()

        flatpickr('#id_data', {

            dateFormat: 'Y-m-d',

            minDate: 'today',

            disable: datasBloqueadas,

            locale: {
                firstDayOfWeek: 1
            },

            onChange: function (
                selectedDates,
                dateStr
            ) {

                carregarHorarios(dateStr)
            }
        })
    }

    iniciarCalendario()

</script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>

</html>